.dropdown-menu.bg-dark > .dropdown-item{
  color: #f8f9fa;   
}

.dropdown-menu.bg-dark > .dropdown-item:hover,
 .dropdown-menu.bg-dark > .dropdown-item:active,
 .dropdown-menu.bg-dark > .dropdown-item:focus{
    color: #343a40;   
  }